.git
.gitignore
.github
.vscode
.idea
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/documents/*
public/storage
.env
.env.backup
.env.*
database/database.sqlite
database/*.sqlite
*.sqlite
.dockerignore
Dockerfile
docker-compose.yml
npm-debug.log
yarn-error.log
/tmp
